@media screen{
    body{
        color:green;
        /* border:4px solid chocolate; */
        /* background-color: mediumturquoise; */
    }
}
    @media print{
        body{
            /* height:100px;
            width:100px; */
            
            color:#de2020;
        }
    }

    /* @media only screen and (max-width: 600px) or (max-width: 500px) {
        body {
          background-color: #b52a2acf;
        }
      } */
      @media only screen and ((max-width: 600px) and (max-width: 500px)) {
        body {
            background-color: #b52a2acf;
          }
        }