           
    $height:10px ;
    $width:10px;
    $background-color: #ffff00;
    

    

    header{
        display:flex;
        flex-direction:row;
        border: 2px solid green;
        background-color: aqua;
    }
    h1{
       margin:40px; 
       border:2px solid red;
       border-radius: 60px;
    }
    #s1{
         height:50px;
         width:50px;
        border:2px solid #ffff00;
        background-color: burlywood;
        border-radius: 60px;
        text-align: center;
    }
    .menu{
        height:10px;
        width:10px;
        background-color: #ffff00;
    }