.flex-container{

    display:flex;
    flex-wrap:wrap;
    background-color: blue;
    align-items: justify;
    
  
}

div{
    background-color: aliceblue;
    flex-wrap: wrap;
    display:flex;
    padding:10px;
    align-items: center;
    width:"100%";
    /* align-items: justify; */
    
    
}
/* img{
    width:100%;
    border-radius: 5px solid red;
} */

h1{
    color:black;
    font-family: cursive;
    text-align: center;
}
   
    

@media (min-width: 800px) { 
    .flex-container {
      display:flex;
      background-color: rgb(2, 2, 2);

    }
} 