@use './_siva.css'

@mixin textr($background: beige){
    color: $background;
    font-size: italic;
    font-family: verdena;
    font-size: 30px;
}

p{
    @include textr

}

.s1{
    text-align: center

}
  
#s2{
 text-align: center
}
