 .container{
    display:flex;
    flex-direction: row;
    height:300px;
    width:400px;
    gap:20px;       
}
h2{
    text-align: center;
    text-decoration: underline;
}
@media screen and (max-width:720px) {
    .container{
        display:flex;
        flex-direction:column;
        height:150px;
        width:200px;
        gap:5px; 
    }
    h2{
        text-align: center;
        text-decoration: underline;
    }
  }
  