*{
    margin:0px;
    border:0 px;
    padding:0 px;
}

body{
    height:100%;
    width:100%;
    background-color: bisque;
}
#s1{
    height:100px;
    text-align: center;
    align-content: center;
    background-color:burlywood;
}
 
div{
    height:auto;
    width:auto;
    border:2px solid #a7121e;
}
.container{
    display:grid;
    grid-template-columns: auto auto;
    border:3px solid green;
}
img{
    float:right;
}
p{
    text-align: justify;
}