.container {
  display: flex;
  flex-direction: column;
}
div {
  border: 3px solid blue;
  height: 300px;
}
div h2 {
  border-bottom: 2px solid blue;
  text-align: center;
}
p {
  color: pink;
}

@media screen and (min-width:600px){
  .container{
    background-color: aqua;
    flex-direction: row;

  }

  
   /* #a1{
    width:50%;
   }
   #a2{
    width:100%;
   } */
}
/* @media screen and (min-width:00px){
  .container{
    background-color: aqua;
    flex-direction: row;

  } */