body{
    height:100%;
    width:100%;
}

.container{
    height:50%;
    width:500px;
    border:2px solid blue;
    background-color: aqua;
    text-align: center;
    
}
.clock{
    height:100%;
    width:100%;
    align-items: center;
}
.btn{
    height:100px;
    width:100%;
}